$displayFont: "Bebas Neue", cursive;
$font: "Poppins", sans-serif;
$bgColor: #18171b;
$txtColor: #eeedef;
$activeColor: #4cca6c;
$wrongColor: #8e3838;

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: $bgColor;
}

p,
li,
label {
  color: $txtColor;
  font-family: $font;
}

/****** Order Form ******/

input {
  font-family: $font;
  transition: 0.1s linear;
}

input:focus {
  border: 4px solid $bgColor;
  outline: 2px solid $activeColor;
}

input:valid:not(:placeholder-shown) {
  outline: 2px solid $activeColor;
}
input:invalid:not(:placeholder-shown) {
  outline: 2px solid $wrongColor;
}

input:focus::placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: $activeColor;
  border: none;
  padding: 5px;
  margin-top: 20px;
  width: 100px;
  font-size: 1.8rem;
  color: $txtColor;
  font-family: $displayFont;
  /* border: 2px solid $bgColor; */
  outline: 2px solid $activeColor;
}
input[type="submit"]:focus {
  border: 2px solid $bgColor;
}

legend {
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

h1,
h2,
h3,
legend {
  font-family: $displayFont;
  color: $txtColor;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid $txtColor;
}

#beerList {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}

.beer {
  display: flex;
  flex-direction: row;
  border: 2px solid $txtColor;
  max-width: 500px;
  margin: 10px 10px 10px 0px;
  padding: 6px;
  text-align: center;
  .beerAmount {
    width: 40px;
    text-align: center;
  }
  .colRight {
    padding-left: 20px;
  }
  .beerDesc {
    max-width: 40ch;
  }
  img {
    width: 120px;
  }
}

#payment {
  display: none;
  height: 90vh;
  background-color: $bgColor;
  transition: 0.2s ease-in-out;
  padding: 2px 10px 0px 10px;
  text-align: center;
  color: $txtColor;
  .paymentExpiration {
    input {
      width: 5ch;
    }
  }
  #cvc {
    width: 6ch;
  }
}

#orderNav {
  position: fixed;
  height: 8vh;
  width: 100%;
  bottom: 0px;
  transition: 0.2s ease-in-out;
  padding: 2px 10px 0px 10px;
  text-align: center;
  color: $txtColor;
  background-color: $bgColor;
  border-top: 3px solid $activeColor;
  #orderNavPayment {
    display: none;
  }
}

#orderNav:hover {
  cursor: pointer;
  color: $activeColor;
}

/****** Dashboard ******/

#orders {
  display: flex;
  text-align: left;
  width: 100%;
  min-height: 40vh;
  div {
    flex-basis: 1;
  }
}

.queueItem {
  transition: 0.2s linear;
  border: 1px solid $txtColor;
  padding: 4px;
}

#taps {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
}

.tapItem {
  border: 1px solid $txtColor;
  width: 150px;
  text-align: center;

  .tapItem_levelBar {
    position: relative;
    border: 2px solid $txtColor;
    width: 16px;
    height: 200px;
    align-content: end;

    .levelBar_level {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: $txtColor;
      width: 14px;
      height: 80%;
      transition: 0.5s ease-out;
    }
  }
}
